<!DOCTYPE html>
<html>
<style>
    body {
        background: url(../FontForRuRuletka.jpg) no-repeat;
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }
    select{
        color: red;
        background-color: transparent;
        position: absolute;
        top:10%;
        left: 30%;
        width: 300px;
        height: 100px;
    }
</style>
<head>
    <title> Web game Russian Roulette</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<select name="level" >
    <option value="easy" title="Only 1 bullet of 6">Easy</option>
    <option value="norm" title="Not bad, 2 bullets of 6">Normal</option>
    <option value="hard" title="Be careful, 3 bullets of 6">Hard</option>
</select>
</body>
</html>